
.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: #fff;
}

.text{
    font-family: 'Josefin Sans';
}

.greeting{
    font-size: 90px;
    font-weight: 100;
}